* text=auto eol=lf

*.txt         text eol=lf
*.xml         text eol=lf
*.json        text eol=lf
*.properties  text eol=lf
*.conf        text eol=lf
*.md          text eol=lf
*.log         text eol=lf

*.vue         text eol=lf
*.js          text eol=lf
*.ts          text eol=lf
*.tsx         text eol=lf
*.tpl         text eol=lf
*.css         text eol=lf

*.awk  text eol=lf
*.sed  text eol=lf
*.sh   text eol=lf

*.{png,jpg,jpeg,gif,webp,woff,woff2} binary
